Source: ndcli
Maintainer: unknown <unknown@unknown>
Section: python
Priority: optional
Build-Depends: dh-python, python3-setuptools, python3-all, python3-dimclient (>= 0.3.0), debhelper (>= 9), python3-dnspython, bash-completion
Standards-Version: 3.9.6

Package: ndcli
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Provides: python3-dimcli, python3-ndcli
Replaces: python3-ndcli
Conflicts: python3-ndcli
Description: DNS and IP management CLI client

