# dim database connection parameters
db.serverName=127.0.0.1
db.portNumber=3306
db.databaseName=dim
db.user={{ dim_db_user_name }}
db.password={{ dim_db_user_password }}

# Timeout in seconds for getting the pdns_poller lock which prevents multiple pdns-output instances from running
lockTimeout=120

# Delay in seconds used when polling the dim outputupdate table
pollDelay=1

# Delay in seconds before retrying a failed update
retryInterval=60

# Debug option to print to stdout transaction ids after processing them
printTxn=false

# Max size of a sql query in bytes
# should be less than the configured max_allowed_packet in mysql
maxQuerySize=4000000

useNativeCrypto=true
