<VirtualHost *:80>
  ServerName dim.{{ domain_name }}
  ServerAlias localhost
  ServerAdmin dim@{{ domain_name }}
  ErrorLog /var/log/httpd/error_log_dim.{{ domain_name }}
  CustomLog /var/log/httpd/access_log_dim.{{ domain_name }} combined
  LogLevel error
  DocumentRoot /srv/http/dim.{{ domain_name }}
  WSGIDaemonProcess dim python-home=/opt/dim
  WSGIScriptAlias /dim /opt/dim/dim.wsgi
  WSGIDaemonProcess cas
  WSGIScriptAlias /cas /usr/share/dim-web/cas.wsgi
  <Directory /srv/http/dim.{{ domain_name }}>
    RewriteEngine on
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]
    RewriteRule ^ index.html [L]
    Require all granted
  </Directory>
  <Directory /opt/dim>
    Require all granted
  </Directory>
  Alias /dim/doc  /opt/dim/doc
  Alias /netdot/doc  /opt/dim/doc
  <Location /cas>
    WSGIProcessGroup cas
    Require all granted
  </Location>
  <Location /dim>
    WSGIProcessGroup dim
    Require all granted
  </Location>
</VirtualHost>
