[Unit]
Description=dim-pdns2
Requires=dim-mysql.service
After=dim-mysql.service

[Service]
ExecStart=/usr/sbin/pdns_server --config-name=pdns2 --config-dir=/etc/pdns --daemon=no
ExecStop=/usr/bin/pdns_control  --config-name=pdns2 --config-dir=/etc/pdns quit
PrivateTmp=true
